packages/
[Bb]in/
obj/
build/
test/
deploy/
reports/

[Tt]est-results
[Tt]est[Rr]esult*
results*.xml

#Preferences
*.userprefs
*.usertasks

#Mono project files
*.pidb
*.resources

#vscode
.settings
.vs/

#Paket
paket.exe

#Fake
.fake
FSI-ASSEMBLY.dll.mdb

