packages/
[Bb]in/
obj/
build/
test/
deploy/

[Tt]est-results
[Tt]est[Rr]esult*

#Preferences
*.userprefs
*.usertasks

#Mono project files
*.pidb
*.resources

#vscode
.settings

#Paket
paket.exe

#Fake
.fake
FSI-ASSEMBLY.dll.mdb

